# Be Zen

* Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

* Importing the dataset

In [2]:
df=pd.read_csv("file.csv")

In [3]:
df.head()

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw

# Data Exploration

* Columns

In [4]:
df.columns

Index(['uuid', 'price_string', 'price_string_unf', 'product_type', 'level_1',
       'category'],
      dtype='object')

* Null values

In [5]:
df.isna().sum()

uuid                       0
price_string         8220000
price_string_unf    13420000
product_type           10000
level_1                50000
category               10000
dtype: int64

* Statistical Information

In [7]:
df.describe()

,uuid,price_string,price_string_unf,product_type,level_1,category
count,13730000,5510000,310000,13720000,13680000,13720000
unique,1373,248,26,321,595,13
top,638744a4-b0ae-4166-8cb6-5c063c862036,$0.00,$6.75,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U3dlYXRzaGlydA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
freq,10000,240000,30000,200000,90000,3910000

* General Information

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730000 entries, 0 to 13729999
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   uuid              object
 1   price_string      object
 2   price_string_unf  object
 3   product_type      object
 4   level_1           object
 5   category          object
dtypes: object(6)
memory usage: 628.5+ MB

* Shape of the Dataset

In [9]:
df.shape

(13730000, 6)

In [10]:
df.head(1)

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M

# Products without prices

* Number of products withour prices

In [13]:
df.price_string.isna().sum()

8220000

* Products without prices

In [16]:
df[df.price_string.isna()].uuid

0           638744a4-b0ae-4166-8cb6-5c063c862036
1           ab313969-02cc-48b2-9daf-0054efb70b92
5           389d9f75-cc3f-4bd2-94f7-93e381a3bed5
13          1f2766ec-0a27-43f8-b28b-77a44492ead1
16          7bad39f5-74b9-4611-afb9-46fb135190cd
                            ...
13729992    8d763911-79b7-402d-8964-6bfe89692c66
13729993    2dc182aa-d591-49e4-85d1-5c4a60a09664
13729995    2a13338e-9268-4f7b-9e7c-b8c41c72971b
13729997    679f073a-862a-4e43-b5ce-41e45afd3bfa
13729998    25677eee-c26b-4abf-bd10-ca77a800ba26
Name: uuid, Length: 8220000, dtype: object

# Count of products without prices and with prices in each Product Type, Category, Level 1

* Count of products without prices in Product Type

In [25]:
df[df.price_string.isna()].product_type.value_counts()

V29tZW5zIHN3aW13ZWFy                      140000
V29tZW5zIHdvcmt3ZWFyLyBvZmZpY2Ugd2Vhcg    130000
VG9kZGxlcnMvbmV3Ym9ybiBiYWJpZXM           130000
VmVoaWNsZSBUb3lz                          120000
UGx1cyBzaXplIHdlYXI                       120000
                                           ...
Um9sbGluZyBQaW4                            10000
V29ya291dCBMZWdnaW5ncw                     10000
TWVucyBKYWNrZXQ                            10000
U25lYWtlcnMgc2hvZXM                        10000
WW9nYSBNYXRz                               10000
Name: product_type, Length: 278, dtype: int64

* Count of products with prices in Product Type

In [26]:
df[df.price_string.notna()].product_type.value_counts()

U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM        140000
d29tZW5zIE91dGVyd2Vhcg                     130000
Q29va2luZyBVdGVuc2lscw                     110000
V29tZW5zIFBhbnRz                            90000
WW9nYSBBY2Nlc3Nvcmllcy8gR2Vhcg              90000
                                            ...
TWVjaGFuaWNhbCBQZW5jaWxz                    10000
UGV0IHBvb3AgYmFncyB3aXRoIGRpc3BlbnNlcnM     10000
UnVncw                                      10000
SnVtcHN1aXRzL092ZXJhbGw                     10000
QmFieSBTb2Fw                                10000
Name: product_type, Length: 209, dtype: int64

* Count of products without prices in Category

In [27]:
df[df.price_string.isna()].category.value_counts()

Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       2050000
Z3JvY2VyaWVz                           1130000
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          870000
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        720000
SGVhbHRo                                700000
VG95cyBhbmQgR2FtZXM                     600000
cGV0IHN1cHBsaWVz                        580000
QmFieWNhcmU                             570000
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     320000
a2l0Y2hpbmcgYW5kIGRpbmluZw              250000
RWxlY3Ryb25pY3M                         210000
QXJ0IHN1cHBsaWVz                        130000
b2ZmaWNlIHByb2R1Y3Rz                     80000
Name: category, dtype: int64

* Countt of Poducts with prices in each Category

In [28]:
df[df.price_string.notna()].category.value_counts()

Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       1860000
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        750000
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          700000
Z3JvY2VyaWVz                            480000
a2l0Y2hpbmcgYW5kIGRpbmluZw              340000
SGVhbHRo                                290000
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     200000
VG95cyBhbmQgR2FtZXM                     190000
QXJ0IHN1cHBsaWVz                        190000
cGV0IHN1cHBsaWVz                        160000
b2ZmaWNlIHByb2R1Y3Rz                    150000
RWxlY3Ryb25pY3M                         110000
QmFieWNhcmU                              90000
Name: category, dtype: int64