# Be Zen

* Importing Libraries

In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

* Importing the dataset

In [87]:
df=pd.read_csv("file.csv")

In [88]:
df.head()

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw

# Data Exploration

* Columns

In [89]:
df.columns

Index(['uuid', 'price_string', 'price_string_unf', 'product_type', 'level_1',
       'category'],
      dtype='object')

* Null values

In [90]:
df.isna().sum()

uuid                       0
price_string         8220000
price_string_unf    13420000
product_type           10000
level_1                50000
category               10000
dtype: int64

* Statistical Information

In [91]:
df.describe()

,uuid,price_string,price_string_unf,product_type,level_1,category
count,13730000,5510000,310000,13720000,13680000,13720000
unique,1373,248,26,321,595,13
top,638744a4-b0ae-4166-8cb6-5c063c862036,$0.00,$6.75,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U3dlYXRzaGlydA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
freq,10000,240000,30000,200000,90000,3910000

* General Information

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730000 entries, 0 to 13729999
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   uuid              object
 1   price_string      object
 2   price_string_unf  object
 3   product_type      object
 4   level_1           object
 5   category          object
dtypes: object(6)
memory usage: 628.5+ MB

* Shape of the Dataset

In [93]:
df.shape

(13730000, 6)

In [94]:
df.head(1)

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M

# Products without prices

* Number of products withour prices

In [95]:
df.price_string.isna().sum()

8220000

* Products without prices

In [96]:
df[df.price_string.isna()].uuid

0           638744a4-b0ae-4166-8cb6-5c063c862036
1           ab313969-02cc-48b2-9daf-0054efb70b92
5           389d9f75-cc3f-4bd2-94f7-93e381a3bed5
13          1f2766ec-0a27-43f8-b28b-77a44492ead1
16          7bad39f5-74b9-4611-afb9-46fb135190cd
                            ...
13729992    8d763911-79b7-402d-8964-6bfe89692c66
13729993    2dc182aa-d591-49e4-85d1-5c4a60a09664
13729995    2a13338e-9268-4f7b-9e7c-b8c41c72971b
13729997    679f073a-862a-4e43-b5ce-41e45afd3bfa
13729998    25677eee-c26b-4abf-bd10-ca77a800ba26
Name: uuid, Length: 8220000, dtype: object

# Count of products without prices and with prices in each Product Type, Category, Level 1

* Count of products without prices in Product Type

In [97]:
df[df.price_string.isna()].product_type.value_counts()

V29tZW5zIHN3aW13ZWFy                      140000
V29tZW5zIHdvcmt3ZWFyLyBvZmZpY2Ugd2Vhcg    130000
VG9kZGxlcnMvbmV3Ym9ybiBiYWJpZXM           130000
VmVoaWNsZSBUb3lz                          120000
UGx1cyBzaXplIHdlYXI                       120000
                                           ...
Um9sbGluZyBQaW4                            10000
V29ya291dCBMZWdnaW5ncw                     10000
TWVucyBKYWNrZXQ                            10000
U25lYWtlcnMgc2hvZXM                        10000
WW9nYSBNYXRz                               10000
Name: product_type, Length: 278, dtype: int64

* Count of products with prices in Product Type

In [98]:
df[df.price_string.notna()].product_type.value_counts()

U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM        140000
d29tZW5zIE91dGVyd2Vhcg                     130000
Q29va2luZyBVdGVuc2lscw                     110000
V29tZW5zIFBhbnRz                            90000
WW9nYSBBY2Nlc3Nvcmllcy8gR2Vhcg              90000
                                            ...
TWVjaGFuaWNhbCBQZW5jaWxz                    10000
UGV0IHBvb3AgYmFncyB3aXRoIGRpc3BlbnNlcnM     10000
UnVncw                                      10000
SnVtcHN1aXRzL092ZXJhbGw                     10000
QmFieSBTb2Fw                                10000
Name: product_type, Length: 209, dtype: int64

* Count of products without prices in Category

In [99]:
df[df.price_string.isna()].category.value_counts()

Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       2050000
Z3JvY2VyaWVz                           1130000
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          870000
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        720000
SGVhbHRo                                700000
VG95cyBhbmQgR2FtZXM                     600000
cGV0IHN1cHBsaWVz                        580000
QmFieWNhcmU                             570000
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     320000
a2l0Y2hpbmcgYW5kIGRpbmluZw              250000
RWxlY3Ryb25pY3M                         210000
QXJ0IHN1cHBsaWVz                        130000
b2ZmaWNlIHByb2R1Y3Rz                     80000
Name: category, dtype: int64

* Countt of Poducts with prices in each Category

In [100]:
df[df.price_string.notna()].category.value_counts()

Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       1860000
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        750000
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          700000
Z3JvY2VyaWVz                            480000
a2l0Y2hpbmcgYW5kIGRpbmluZw              340000
SGVhbHRo                                290000
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     200000
VG95cyBhbmQgR2FtZXM                     190000
QXJ0IHN1cHBsaWVz                        190000
cGV0IHN1cHBsaWVz                        160000
b2ZmaWNlIHByb2R1Y3Rz                    150000
RWxlY3Ryb25pY3M                         110000
QmFieWNhcmU                              90000
Name: category, dtype: int64

* Count of products in Level_1 without the prices

In [101]:
df[df.price_string.isna()].level_1.value_counts()

Rm9ybWFsIFN1aXRz                  60000
U3dlYXRzaGlydA                    60000
U29ja3M                           50000
Rm9ybWFsIFBhbnRz                  50000
TXVsdGl2aXRhbWluIGd1bW1pZXM       40000
                                  ...
U29hcCBCYXI                       10000
RGlzaCBjbG90aA                    10000
UG90IHNjcnVicw                    10000
V29tZW5zIGJyaWVmcw                10000
RWNvIGZyaWVuZGx5IHlvZ2EgbWF0cw    10000
Name: level_1, Length: 476, dtype: int64

* Count of products in Level_1 with the prices

In [102]:
df[df.price_string.notna()].level_1.value_counts()

U3Bvb24sIEtuaWZlIGFuZCBGb3Jr       60000
Q2xlYW5pbmcgY2xvdGg                50000
UHVmZmVyIEphY2tldA                 50000
TWVucyBTdHJhaWdodCBGaXQgamVhbnM    50000
U2NydWJz                           40000
                                   ...
T25lIHBpZWNlIHN3aW1zdWl0           10000
RG9nIFdpcGVz                       10000
VHJhc2ggQmFncw                     10000
TWVucyBzbmVha2Vycw                 10000
UHVwcHkgU2hhbXBvbw                 10000
Name: level_1, Length: 366, dtype: int64

# Correct Product Prices in the correct format (eg: $56) wherever possible and separate them into currency and value columns.

* Creating a copy of the Dataset

In [103]:
newdf=df.copy()

* Product price sample

In [104]:
df.price_string[10]

'$55.00'

* Cleaning the price column

In [105]:
clean_curr=re.sub("\d|[.]","",str(df.price_string[10]))
clean_curr

'$'

* Creating two new columns in the dataset for the currency and the values

In [106]:
newdf['currency']=0
newdf['currency_values']=0

In [107]:
newdf.head()

,uuid,price_string,price_string_unf,product_type,level_1,category,currency,currency_values
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M,0,0
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw,0,0
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo,0,0
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl,0,0
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw,0,0

* Function to clean the price columns

In [108]:
def clean_price_func(data):
    clean_curr=re.sub("\d|[.]","",str(data))
    return clean_curr
newdf.currency=df.price_string.apply(clean_price_func)

In [109]:
newdf.currency.value_counts()

nan    8220000
$      5300000
        210000
Name: currency, dtype: int64

* Checking for the price where currency =$

In [110]:
newdf[newdf.currency== "$"].uuid.head()

2    acbd66ff-79f8-467a-91f9-108a45af5626
3    963915d6-b2e3-4098-b242-9410593cf205
6    9599f1a9-d406-43eb-89f5-9b1c0af1ac9a
7    35799087-f6f4-4ca2-abfe-cbb5c27d2f1a
8    9b3f553e-ee4c-4e1c-822e-c8c6c1b7f02a
Name: uuid, dtype: object

* Checking for the price where currency =""

In [111]:
newdf[newdf.currency== ""].uuid.head()

4      b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf
11     955f5ee8-e152-44b6-ba70-3e79bc0dd975
14     9de3aff1-4804-4c33-b4f0-f1482dccbdb3
93     c2db1477-a9d6-4127-8277-b773aca775f1
106    cba9f6bd-6352-4915-ba2e-849caf082860
Name: uuid, dtype: object

In [112]:
newdf.price_string[4]

'11.50'

* Cleaning the price for the values

In [113]:
clean_currValues=re.sub("\$","",str(df.price_string[10]))
clean_currValues

'55.00'

* Creating the function for Cleaning the values

In [114]:
def clean_price_val_func(data):
    clean_currValues=re.sub("\$","",str(data))
    return clean_currValues
newdf.currency_values=df.price_string.apply(clean_price_val_func)

* Checking the sample

In [115]:
newdf.head()

,uuid,price_string,price_string_unf,product_type,level_1,category,currency,currency_values
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M,nan,nan
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw,nan,nan
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo,$,19.95
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl,$,92.00
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw,,11.50

* Dropping the price_string column

In [116]:
newdf.drop("price_string",axis=1,inplace=True)

In [117]:
newdf.columns

Index(['uuid', 'price_string_unf', 'product_type', 'level_1', 'category',
       'currency', 'currency_values'],
      dtype='object')

# Cleaning the price unf

In [118]:
newdf.price_string_unf.value_counts()

$6.75                               30000
$11.99                              20000
$49.00                              20000
$85 USD                             20000
$10.00                              10000
$198.00                             10000
$52 USD                             10000
$80 USD                             10000
$50 USD                             10000
$138.00\n\n\n\n$96.60               10000
$25.00                              10000
$29.00                              10000
$178.00\n\n\n\n$59.50               10000
$95 USD                             10000
Current price: \n$359.00            10000
$99.00                              10000
Current price: \n$329.40            10000
$178.00\n\n\n\n$64.50               10000
$248.00\n\n\n\n$104.50 - $248.00    10000
$24.00                              10000
$41 USD                             10000
$619.00                             10000
$459.99                             10000
$18.95                              10000
$15.00                              10000
$30.00                              10000
Name: price_string_unf, dtype: int64

* Creating two new columns

In [119]:
newdf["currency_unf"]=0
newdf["currency_value_unf"]=0
newdf["currency_name_unf"]=0

* Cleaning the currency_unf

In [169]:
def clean_price_func(data):
    clean_curr_unf=re.sub("\d|[.]|\n|\w|\:|\s|.*$","",str(data))
    return clean_curr_unf
newdf.currency_unf=df.price_string_unf.apply(clean_price_func)

In [168]:
clean_curr_unf=re.sub("\d|[.]|\n|\w|\:|\s|.*$","",str('$178.00\n\n\n\n$59.50 '))
clean_curr_unf

'$'

In [170]:
newdf.currency_unf.value_counts()

     13690000
$       40000
Name: currency_unf, dtype: int64

* Cleaning for currency_value_unf

In [147]:
clean_currValues=re.sub("\$|.*\n|[A-Z]|\s","",str("52 USD "))
clean_currValues

'52'

In [148]:
def clean_price_val_unf_func(data):
    clean_currValues=re.sub("\$|.*\n|[A-Z]|\s","",str(data))
    return clean_currValues
newdf.currency_value_unf=df.price_string_unf.apply(clean_price_val_unf_func)

In [149]:
newdf.currency_value_unf.value_counts()

nan              13420000
6.75                30000
49.00               20000
85                  20000
11.99               20000
10.00               10000
198.00              10000
52                  10000
80                  10000
50                  10000
96.60               10000
25.00               10000
29.00               10000
59.50               10000
95                  10000
99.00               10000
359.00              10000
329.40              10000
64.50               10000
104.50-248.00       10000
24.00               10000
41                  10000
619.00              10000
459.99              10000
18.95               10000
15.00               10000
30.00               10000
Name: currency_value_unf, dtype: int64

* Cleaning for currency names unf

In [160]:
clean_currNames=re.sub(".*\d|\s|\'Currentprice'","",str("Current rate : $41 USD Currentprice"))
clean_currNames

'USDCurrentprice'

In [154]:
def clean_price_name_unf_func(data):
    clean_currValues=re.sub(".*\d|\s|\'Currentprice'","",str(data))
    return clean_currValues
newdf.currency_name_unf=df.price_string_unf.apply(clean_price_name_unf_func)

In [155]:
newdf.currency_name_unf.value_counts()

nan              13420000
                   220000
USD                 70000
Currentprice:       20000
Name: currency_name_unf, dtype: int64

* Exploratory Data Analysis

In [129]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730000 entries, 0 to 13729999
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   uuid                object
 1   price_string_unf    object
 2   product_type        object
 3   level_1             object
 4   category            object
 5   currency            object
 6   currency_values     object
 7   currency_unf        object
 8   currency_value_unf  object
 9   currency_name_unf   object
dtypes: object(10)
memory usage: 1.0+ GB

* Handling the NaN values

In currency_values column

In [130]:
newdf[newdf.currency_values=='nan']=0

* Converting the currency_values & currency_value_unf datatypes to float

In [131]:
newdf.currency_values=pd.to_numeric(newdf.currency_values, downcast='float',errors='ignore')

In [132]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730000 entries, 0 to 13729999
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   uuid                object
 1   price_string_unf    object
 2   product_type        object
 3   level_1             object
 4   category            object
 5   currency            object
 6   currency_values     float32
 7   currency_unf        object
 8   currency_value_unf  object
 9   currency_name_unf   object
dtypes: float32(1), object(9)
memory usage: 995.1+ MB

* Changing the datatype of the currency value unf column

In [133]:
newdf.currency_value_unf=pd.to_numeric(newdf.currency_value_unf, downcast='float',errors='ignore')

In [134]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730000 entries, 0 to 13729999
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   uuid                object
 1   price_string_unf    object
 2   product_type        object
 3   level_1             object
 4   category            object
 5   currency            object
 6   currency_values     float32
 7   currency_unf        object
 8   currency_value_unf  object
 9   currency_name_unf   object
dtypes: float32(1), object(9)
memory usage: 995.1+ MB

# List out the categories with average price of product

* Average price of the product

In [135]:
curr_avg=np.mean(newdf.currency_values)
curr_avg

28.103428

In [136]:
newdf.head()

,uuid,price_string_unf,product_type,level_1,category,currency,currency_values,currency_unf,currency_value_unf,currency_name_unf
0,0,0,0,0,0,0,0.000000,0,0,0
1,0,0,0,0,0,0,0.000000,0,0,0
2,acbd66ff-79f8-467a-91f9-108a45af5626,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo,$,19.950001,,nan,nan
3,963915d6-b2e3-4098-b242-9410593cf205,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl,$,92.000000,,nan,nan
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw,,11.500000,,nan,nan

* Category wise product price split

In [137]:
newdf.category.value_counts()

0                                      8220000
Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       1860000
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        750000
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          700000
Z3JvY2VyaWVz                            480000
a2l0Y2hpbmcgYW5kIGRpbmluZw              340000
SGVhbHRo                                290000
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     200000
VG95cyBhbmQgR2FtZXM                     190000
QXJ0IHN1cHBsaWVz                        190000
cGV0IHN1cHBsaWVz                        160000
b2ZmaWNlIHByb2R1Y3Rz                    150000
RWxlY3Ryb25pY3M                         110000
QmFieWNhcmU                              90000
Name: category, dtype: int64

* Crating the list of the categories

In [138]:
cat=newdf.category.value_counts().index.tolist()

In [139]:
cat

[0,
 'Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz',
 'YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl',
 'SG91c2Vob2xkIGFuZCBDbGVhbmluZw',
 'Z3JvY2VyaWVz',
 'a2l0Y2hpbmcgYW5kIGRpbmluZw',
 'SGVhbHRo',
 'VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ',
 'VG95cyBhbmQgR2FtZXM',
 'QXJ0IHN1cHBsaWVz',
 'cGV0IHN1cHBsaWVz',
 'b2ZmaWNlIHByb2R1Y3Rz',
 'RWxlY3Ryb25pY3M',
 'QmFieWNhcmU']

In [140]:
cat[1]

'Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz'

* Getting the mean of the individual categories

In [141]:
x=np.mean(newdf[newdf.category==cat[1]].currency_values)

KeyboardInterrupt:

In [ ]:
avg=[]
for i in cat:
    avg.append(np.mean(newdf[newdf.category==i].currency_values))

In [ ]:
avg

[0.0,
 125.41392,
 34.745064,
 76.199,
 10.541667,
 16.703234,
 32.55759,
 82.2235,
 32.44895,
 19.471054,
 14.181875,
 20.480001,
 60.258186,
 163.68887]

In [ ]:
len(avg)

14

In [ ]:
len(cat)

14

* Zipping the two lists into the dictionary

In [ ]:
cat_avg = {cat[i]: avg[i] for i in range(len(avg))}