# Be Zen

* Importing Libraries

In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

* Importing the dataset

In [117]:
df=pd.read_csv("file.csv")

In [118]:
df.head()

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw

# Data Exploration

* Columns

In [119]:
df.columns

Index(['uuid', 'price_string', 'price_string_unf', 'product_type', 'level_1',
       'category'],
      dtype='object')

* Null values

In [120]:
df.isna().sum()

uuid                       0
price_string         8220000
price_string_unf    13420000
product_type           10000
level_1                50000
category               10000
dtype: int64

* Statistical Information

In [121]:
df.describe()

,uuid,price_string,price_string_unf,product_type,level_1,category
count,13730000,5510000,310000,13720000,13680000,13720000
unique,1373,248,26,321,595,13
top,638744a4-b0ae-4166-8cb6-5c063c862036,$0.00,$6.75,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U3dlYXRzaGlydA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
freq,10000,240000,30000,200000,90000,3910000

* General Information

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730000 entries, 0 to 13729999
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   uuid              object
 1   price_string      object
 2   price_string_unf  object
 3   product_type      object
 4   level_1           object
 5   category          object
dtypes: object(6)
memory usage: 628.5+ MB

* Shape of the Dataset

In [123]:
df.shape

(13730000, 6)

In [124]:
df.head(1)

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M

# Products without prices

* Number of products withour prices

In [125]:
df.price_string.isna().sum()

8220000

* Products without prices

In [126]:
df[df.price_string.isna()].uuid

0           638744a4-b0ae-4166-8cb6-5c063c862036
1           ab313969-02cc-48b2-9daf-0054efb70b92
5           389d9f75-cc3f-4bd2-94f7-93e381a3bed5
13          1f2766ec-0a27-43f8-b28b-77a44492ead1
16          7bad39f5-74b9-4611-afb9-46fb135190cd
                            ...
13729992    8d763911-79b7-402d-8964-6bfe89692c66
13729993    2dc182aa-d591-49e4-85d1-5c4a60a09664
13729995    2a13338e-9268-4f7b-9e7c-b8c41c72971b
13729997    679f073a-862a-4e43-b5ce-41e45afd3bfa
13729998    25677eee-c26b-4abf-bd10-ca77a800ba26
Name: uuid, Length: 8220000, dtype: object

# Count of products without prices and with prices in each Product Type, Category, Level 1

* Count of products without prices in Product Type

In [127]:
df[df.price_string.isna()].product_type.value_counts()

V29tZW5zIHN3aW13ZWFy                      140000
V29tZW5zIHdvcmt3ZWFyLyBvZmZpY2Ugd2Vhcg    130000
VG9kZGxlcnMvbmV3Ym9ybiBiYWJpZXM           130000
VmVoaWNsZSBUb3lz                          120000
UGx1cyBzaXplIHdlYXI                       120000
                                           ...
Um9sbGluZyBQaW4                            10000
V29ya291dCBMZWdnaW5ncw                     10000
TWVucyBKYWNrZXQ                            10000
U25lYWtlcnMgc2hvZXM                        10000
WW9nYSBNYXRz                               10000
Name: product_type, Length: 278, dtype: int64

* Count of products with prices in Product Type

In [128]:
df[df.price_string.notna()].product_type.value_counts()

U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM        140000
d29tZW5zIE91dGVyd2Vhcg                     130000
Q29va2luZyBVdGVuc2lscw                     110000
V29tZW5zIFBhbnRz                            90000
WW9nYSBBY2Nlc3Nvcmllcy8gR2Vhcg              90000
                                            ...
TWVjaGFuaWNhbCBQZW5jaWxz                    10000
UGV0IHBvb3AgYmFncyB3aXRoIGRpc3BlbnNlcnM     10000
UnVncw                                      10000
SnVtcHN1aXRzL092ZXJhbGw                     10000
QmFieSBTb2Fw                                10000
Name: product_type, Length: 209, dtype: int64

* Count of products without prices in Category

In [129]:
df[df.price_string.isna()].category.value_counts()

Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       2050000
Z3JvY2VyaWVz                           1130000
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          870000
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        720000
SGVhbHRo                                700000
VG95cyBhbmQgR2FtZXM                     600000
cGV0IHN1cHBsaWVz                        580000
QmFieWNhcmU                             570000
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     320000
a2l0Y2hpbmcgYW5kIGRpbmluZw              250000
RWxlY3Ryb25pY3M                         210000
QXJ0IHN1cHBsaWVz                        130000
b2ZmaWNlIHByb2R1Y3Rz                     80000
Name: category, dtype: int64

* Countt of Poducts with prices in each Category

In [130]:
df[df.price_string.notna()].category.value_counts()

Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       1860000
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        750000
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          700000
Z3JvY2VyaWVz                            480000
a2l0Y2hpbmcgYW5kIGRpbmluZw              340000
SGVhbHRo                                290000
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     200000
VG95cyBhbmQgR2FtZXM                     190000
QXJ0IHN1cHBsaWVz                        190000
cGV0IHN1cHBsaWVz                        160000
b2ZmaWNlIHByb2R1Y3Rz                    150000
RWxlY3Ryb25pY3M                         110000
QmFieWNhcmU                              90000
Name: category, dtype: int64

* Count of products in Level_1 without the prices

In [131]:
df[df.price_string.isna()].level_1.value_counts()

Rm9ybWFsIFN1aXRz                  60000
U3dlYXRzaGlydA                    60000
U29ja3M                           50000
Rm9ybWFsIFBhbnRz                  50000
TXVsdGl2aXRhbWluIGd1bW1pZXM       40000
                                  ...
U29hcCBCYXI                       10000
RGlzaCBjbG90aA                    10000
UG90IHNjcnVicw                    10000
V29tZW5zIGJyaWVmcw                10000
RWNvIGZyaWVuZGx5IHlvZ2EgbWF0cw    10000
Name: level_1, Length: 476, dtype: int64

* Count of products in Level_1 with the prices

In [132]:
df[df.price_string.notna()].level_1.value_counts()

U3Bvb24sIEtuaWZlIGFuZCBGb3Jr       60000
Q2xlYW5pbmcgY2xvdGg                50000
UHVmZmVyIEphY2tldA                 50000
TWVucyBTdHJhaWdodCBGaXQgamVhbnM    50000
U2NydWJz                           40000
                                   ...
T25lIHBpZWNlIHN3aW1zdWl0           10000
RG9nIFdpcGVz                       10000
VHJhc2ggQmFncw                     10000
TWVucyBzbmVha2Vycw                 10000
UHVwcHkgU2hhbXBvbw                 10000
Name: level_1, Length: 366, dtype: int64

# Correct Product Prices in the correct format (eg: $56) wherever possible and separate them into currency and value columns.

* Creating a copy of the Dataset

In [133]:
newdf=df.copy()

* Product price sample

In [134]:
df.price_string[10]

'$55.00'

* Cleaning the price column

In [135]:
clean_curr=re.sub("\d|[.]","",str(df.price_string[10]))
clean_curr

'$'

* Creating two new columns in the dataset for the currency and the values

In [136]:
newdf['currency']=0
newdf['currency_values']=0

In [137]:
newdf.head()

,uuid,price_string,price_string_unf,product_type,level_1,category,currency,currency_values
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M,0,0
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw,0,0
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo,0,0
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl,0,0
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw,0,0

* Function to clean the price columns

In [138]:
def clean_price_func(data):
    clean_curr=re.sub("\d|[.]","",str(data))
    return clean_curr
newdf.currency=df.price_string.apply(clean_price_func)

In [139]:
newdf.currency.value_counts()

nan    8220000
$      5300000
        210000
Name: currency, dtype: int64

* Checking for the price where currency =$

In [140]:
newdf[newdf.currency== "$"].uuid.head()

2    acbd66ff-79f8-467a-91f9-108a45af5626
3    963915d6-b2e3-4098-b242-9410593cf205
6    9599f1a9-d406-43eb-89f5-9b1c0af1ac9a
7    35799087-f6f4-4ca2-abfe-cbb5c27d2f1a
8    9b3f553e-ee4c-4e1c-822e-c8c6c1b7f02a
Name: uuid, dtype: object

* Checking for the price where currency =""

In [141]:
newdf[newdf.currency== ""].uuid.head()

4      b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf
11     955f5ee8-e152-44b6-ba70-3e79bc0dd975
14     9de3aff1-4804-4c33-b4f0-f1482dccbdb3
93     c2db1477-a9d6-4127-8277-b773aca775f1
106    cba9f6bd-6352-4915-ba2e-849caf082860
Name: uuid, dtype: object

In [142]:
newdf.price_string[4]

'11.50'

* Cleaning the price for the values

In [143]:
clean_currValues=re.sub("\$","",str(df.price_string[10]))
clean_currValues

'55.00'

* Creating the function for Cleaning the values

In [144]:
def clean_price_val_func(data):
    clean_currValues=re.sub("\$","",str(data))
    return clean_currValues
newdf.currency_values=df.price_string.apply(clean_price_val_func)

* Checking the sample

In [145]:
newdf.head()

,uuid,price_string,price_string_unf,product_type,level_1,category,currency,currency_values
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M,nan,nan
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw,nan,nan
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo,$,19.95
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl,$,92.00
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw,,11.50

* Dropping the price_string column

In [147]:
newdf.drop("price_string",axis=1,inplace=True)

In [148]:
newdf.columns

Index(['uuid', 'price_string_unf', 'product_type', 'level_1', 'category',
       'currency', 'currency_values'],
      dtype='object')